# source
**/*.ts
**/*.js.map
*.ts
*.js.map

# definitions
!**/*.d.ts
!*.d.ts

# configuration
package-lock.json
tsconfig.json
tsconfig.build.json
tsconfig.spec.json
.prettierrc
.eslintrc.js
.eslintignore
*.tsbuildinfo

# devops
test
.github